$appContainerHeight: 100vh;
$appContainerWidth: 100vw;
$pageContainerHeight: 75vh;
$flexDisplay: flex;
$flexDirectionColumn: column;
$flexDirectionRow: row;
$center: center;
$hundredPer: 100%;
$blue: rgb(53, 63, 245);
$navbarTextColor: white;
