@import "./../../../stylesConfig/stylesConfig.scss";

.footerContainer {
  height: 5vh;
  display: $flexDisplay;
  justify-content: $center;
  align-items: center;

  span {
    color: $blue;
  }
}

.footerIcon {
  color: $blue;
  margin: 1rem;
}
