@import "../../../stylesConfig/stylesConfig.scss";

.singleProductComponent {
  height: $pageContainerHeight;
  width: $oneHundredPer;
  display: $flexDisplay;
  flex-direction: $flexDirectionRow;
}

.imgsContainer {
  width: 10%;
  height: $oneHundredPer;
  display: $flexDisplay;
  flex-direction: $flexDirectionColumn;
  align-items: $center;

  img {
    height: 70px;
    width: 70px;
    margin-top: 1rem;
  }
}

.singleImageContainer {
  display: $flexDisplay;
  justify-content: $center;
  align-items: $center;
  height: 100%;
  width: 45%;

  img {
    height: 75%;
  }
}

.shopTextContainer {
  height: 100%;
  width: 45%;
  display: $flexDisplay;
  flex-direction: $flexDirectionColumn;
  justify-content: space-evenly;

  div {
    text-align: justify;
    margin: 2rem;
    font-size: 0.9rem;
    font-weight: 300;
  }
}

.button:hover {
  font-weight: 300;
  transition: 0.5s;
  cursor: pointer;
}

.backLink {
  color: black;
  text-decoration: none;
}

.backLink:hover {
  font-weight: 300;
  transition: 0.3s;
}
