@import "./../../../stylesConfig/stylesConfig.scss";

.adminNavbarContainer {
  flex: 1;
  height: $hundredPer;
  display: $flexDisplay;
  flex-direction: $flexDirectionColumn;
  align-items: $center;
  justify-content: center;

  div {
    font-weight: 300;
    width: fit-content;
    margin: 1rem;
    text-align: center;
  }

  div:hover {
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
  }
}
