@import "../../../stylesConfig/stylesConfig.scss";

.cartPageContainer {
  height: $pageContainerHeight;
  width: $oneHundredPer;
  display: $flexDisplay;
  justify-content: $center;
  align-items: $center;
}

.cartContainer {
  height: 40%;
  width: 50%;
  display: $flexDisplay;
  flex-direction: $flexDirectionColumn;
  justify-content: space-evenly;

  div {
    height: 30%;
  }

  div:nth-child(1) {
    font-size: 2rem;
  }

  div:nth-child(2) {
    font-size: 1.5rem;
  }
}
