@import "../../../stylesConfig/stylesConfig.scss";

.homePageContainer {
  height: $pageContainerHeight;
  display: $flexDisplay;
  justify-content: $center;
  align-items: $center;

  div {
    height: 60%;
    width: 70%;
    display: $flexDisplay;
    justify-content: space-around;
    align-items: $center;

    div {
      height: 90%;
      width: 45%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .homePageContainer {
    div {
      height: $hundredPer;
      flex-direction: $flexDirectionColumn;

      div {
        height: 45%;
        width: $hundredPer;
      }
    }
  }
}
