@import "../../../stylesConfig/stylesConfig.scss";

.homePageContainer {
  height: $pageContainerHeight;
  display: $flexDisplay;
  justify-content: $center;
  align-items: $center;

  div {
    height: 80%;
    img {
      height: $hundredPer;
      border-radius: 1rem;
    }
  }
}
