@import "../../../stylesConfig/stylesConfig.scss";

.shopPageContainer {
  height: $pageContainerHeight;
  display: $flexDisplay;
  justify-content: $center;
  align-items: $center;

  div {
    height: 60%;
    width: 35%;
    margin: 1rem;

    img {
      height: $oneHundredPer;
      width: $oneHundredPer;
      object-fit: cover;
      border-radius: 1rem;
    }
  }
}

Link {
  width: 100%;
  height: 100%;
}
