@import "./../../../stylesConfig/stylesConfig.scss";

.navbarContainer {
  height: 17.5vh;
  background-color: black;
  display: $flexDisplay;
  flex-direction: $flexDirectionRow;
  align-items: $center;
  justify-content: space-between;

  div {
    width: 33%;
    height: 100%;
    display: $flexDisplay;
    flex-direction: $flexDirectionRow;
    justify-content: space-around;
    align-items: $center;
    color: $navbarTextColor;
    flex-wrap: wrap;
  }
}

.navbarLink {
  color: $navbarTextColor;
  text-decoration: none;
  // width: 4rem;
  text-align: $center;
}

.navbarLink:hover {
  font-weight: 300;
  transition: 0.5s;
}

.navbarImgContainer {
  font-size: 3rem;
}

.icon {
  font-size: 1.5rem;
}

@media screen and (max-width: 1000px) {
  .navbarContainer {
    font-size: 0.8rem;
  }

  .navbarLink {
    width: 4rem;
  }
}

@media screen and (max-width: 600px) {
}
