@import "../../../stylesConfig/stylesConfig.scss";

.shopNavbarContainer {
  height: 20%;
  display: $flexDisplay;
  flex-direction: $flexDirectionColumn;
  justify-content: $center;
  align-items: $center;

  div {
    margin: auto;
  }

  div:hover {
    font-weight: 300;
    transition: 0.5s;
    cursor: pointer;
  }
}
