@import "../../../stylesConfig/stylesConfig.scss";

.shopNavbarContainer {
  height: 20%;
  width: 100%;
  display: $flexDisplay;
  flex-direction: $flexDirectionRow;
  justify-content: space-around;
  align-items: $center;

  div {
    width: fit-content;
  }

  div:hover {
    font-weight: 300;
    transition: 0.5s;
    cursor: pointer;
  }
}
