@import "../../../stylesConfig/stylesConfig.scss";

.shopNavbarContainer {
  height: 20%;
  display: $flexDisplay;
  flex-direction: $flexDirectionColumn;
  justify-content: $center;
  align-items: $center;

  div {
    margin: auto;
    background-color: red;
  }
}
